<% content_for('body') do %>
<div class="sc-welcome">

      <%= list_view :record_list,
      
        :tag => :div,
        :view => 'Golem.ListItemView',
        :bind => {
          :content => "Golem.linksController.arrangedObjects",
          :selection => "Golem.linksController.selection" 
        } %>


  </div>
</div>
<% end %>
